:root{
    --red: #F61B62;
    --purp: #C438A9;
    --green: #5FF59B;
    --blue: #38c2bdab;
    --black: #452D40;
    --white: #edcbed;
}

#root{
    min-height: 100%;
}

@keyframes wacky{
    0% {background-position: 0 0;}
    20% {background-position: 0 100px;}
    40% {background-position: 0 200px;}
    60% {background-position: 0 300px;}
    80% {background-position: 0 400px;}
    100% {background-position: 0 500px;}
}

.asButton{
    position: relative;
    text-decoration: none;
    color: var(--white);
    font-size: 15px;
}

.asButton h2{
    position: absolute;
    width: 100px;
    bottom: -49px;
    text-align: center;
    background-color: var(--black);
    padding: 5px 8px 5px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition:padding 400ms;
}


.asButton h2:hover{
    padding: 8px;
    color: var(--green);
}

.icon{
    color: var(--red);
    transition: color 500ms;
}

.icon:hover{
    color: var(--green)
}


.iconLink{
    width: fit-content;
    height: fit-content;
}

.cInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.cInfo a{
    text-decoration: none;
    color: inherit;
    transition: color 500ms;
}

.cInfo a:hover, .cINfo p:hover{
    color: var(--purp);
}

.mainDiv{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.homeDiv{
    min-height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.wackyDiv{
    background-color: var(--red);
    background-image: url("https://i.imgur.com/yP0FHn3.jpg");
    background-blend-mode: exclusion;
    min-height: 80%;
    height: 650px;
    width: 820px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skew(161deg);
    z-index: 1;
    animation: wacky 30s linear infinite alternate-reverse;
}

.welcome{
    color: var(--white);
    background-color: var(--black);
    padding: 10px;

}

.mee{
    width: 600px;
    height: 650px;
    border-radius: 5px;
    margin-left: 30px;
    border: 1px solid var(--green);
    box-shadow: 0 0 7px 0 var(--purp);
}

.projCard{
    width: 350px;
    height: 350px;
    position:relative;
    margin: 15px;
    border: 1.5px solid var(--green);
}

.cardImg{
    width: 350px;
    height: 350px;
    margin-bottom: 0;
    filter: opacity(64%);
    transition: filter 300ms;
}

.cardImg:hover{
    filter: none;
}

.card-title{
    position:absolute;
    width: 110px;
    bottom: 34px;
    left: 0.2px;
    z-index: 1;
    font-style: oblique;
    font-size: 15px;
    color: var(--purp);
    background-color: var(--black);
    border: 1px solid var(--green);
    border-left: 0;
}

.card-title h4{
    font-size: 10px;
}

.bioDiv{
    margin-top: 100px;
}

.skillsHeader{
    font-size: 40px;
    text-align: center;
}

.blurb{
    color: var(--white);
    font-size: 20px;
    padding: 0 10px 0 10px;
    text-align: center;
}

html{
    width: 100%;
    height: 100%;
}

#root, body{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    background: var(--black);
    color: var(--purp)
}

header{
    min-height:60px;
    min-width: 100%;
    background: var(--blue);
    color: var(--white);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.links, .icons{
    min-height: 100%;
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

main{
    height: 100%;
    margin-bottom: 200px;
}

.homeMain{
    margin-bottom: 0;
}

footer{
    height: 80px;
    min-width: 100%;
    align-self: flex-end;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    bottom: 0;
    background: linear-gradient(15deg, var(--green), var(--red));
    color: var(--white);
}


.mee2{
    display: none;
    width: 380px;
    height: 450px;
    border-radius: 5px;
    margin-left: 30px;
    border: 1px solid var(--green);
    box-shadow: 0 0 7px 0 var(--purp);
}

@media only screen and (max-width: 1200px) {
    .wackyDiv{

        height: 450px;
        width: 550px;

    }

    .mee{
        width: 400px;
        height: 450px;
    }
}

@media only screen and (max-width: 992px) {
    .wackyDiv{

        height: 450px;
        width: 400px;

    }

    .mee{
        width: 380px;
        height: 450px;
    }
}

@media only screen and (max-width: 600px) {
    .homeDiv{
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .wackyDiv{

        height: 500px;
        width: 350px;
    }

    .mee{
        display: none;
    }

    .mee2{
        display: block;
    }

    .links{
        margin-right: 10px;
    }

    .asButton{
        font-size: 9px;
    }
    
    .asButton h2{
        position: absolute;
        width: 80px;
        bottom: -49px;
        padding: 5px 6px 5px 8px;
    }
}